/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*:before,*:after {
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
}
body {
    font-family: '微軟正黑體';
    line-height: 1.5;
}
a {
    text-decoration: none;
}
/*CSS Reset End*/

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

body{
    background: url(../images/bg.png) repeat;
}
.wrap {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
}
@media (max-width: 1024px){
	.wrap {
		width: 100%;
	}
}

/* 頁首header */
.header {
	position: absolute;
	width: 100%;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.75);
	border-bottom:1px solid #222;
}

.logo{
	float: left;
}
.logo img{
	display:block;
	margin-top: 5px;
	margin-left: 10px;
	transition: margin .2s linear;
}

.nav {
    float: right;
    margin-right: 10px;
}

.nav li {
    float: left;
    line-height: 50px;
}

.nav li a {
    display: block;
    color: white;
    height: 50px;
    padding: 0 8px;
}

.nav li a:hover {
    background: #DE6320;
}

.shopping-cart {
    position: relative;
    line-height: 50px;
    margin-right: 5px;
    font-size: 28px;
    color: white;
}

.shopping-cart span {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    color: #ffff;
    text-align: center;
    line-height: 18px;
    background:#FC4A1A;
    border-radius: 22px;
}

.toggle,.toogle a{
	display: none;
	width: 28px;
	height: 30px;
	padding-top:27px;
	margin-right:22px;
	float:right;
}
.toggle span:after,.toggle span:before {
	content: "";
	position: absolute;
	left: 0;
	top: -9px;
}
.toggle span:after{
	top: 9px;
}
.toggle span {
	position: relative;
	display: block;
}

.toggle span,.toggle span:after,.toggle span:before {
	width: 100%;
	height: 3px;
	background: #FC4A1A;
	transition: all 0.3s;
	backface-visibility: hidden;
	border-radius: 3px;
}

@media (max-width:768px) {
    .toggle{
		display: block;
    }
    .nav {
		width: 100%;
		max-height: 0px;
		overflow: hidden;
		transition: max-height 1s;
		margin-top: 0px;
		position: absolute;
		z-index: 100;
		top: 50px;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, .8);
	}
	.nav li{
		float: none;
		width: 100%;
		padding: 0;
		border-bottom:1px solid #626262;
	}
	.nav li a{
		text-align: center;
        transition: all 0.3s;
        color: #ffff;
	}
	.nav li a:hover{
		background: rgba(50, 0, 0, .6);
		color: #ffff;
    }
    .menu-show .nav {
		max-height: 300px;
	}
    .shopping-cart {
        position: relative;
    }
	.shopping-cart span {
        position: absolute;
        left: 51%;
        width: 18px;
        height: 18px;
        font-size: 12px;
        color: #ffff;
        text-align: center;
        line-height: 18px;
        background: #FC4A1A;
        border-radius: 22px;
	}
}

.open span {
    background-color: transparent;
}
.open span:before {
    transform: rotate(-45deg) translate(-7px, 7px);
}
.open span:after {
    transform: rotate(45deg) translate(-6px, -6px);
}

/* 橫幅banner */
.banner {
    display: block;
	width: 100%;
	height:420px;
	background: url(../images/bg_banner.jpg) no-repeat; 
}

.banner-text {
    position: relative;
    top: 150px;
	left: 280px;
	width: 460px;
	height: 132px;
    color: white;
	background-color: rgba(0, 0, 0, .5);
	padding: 10px;
}

.banner-text h2{
	font-size: 30px;
	text-align: center;
}
.banner-text p{
	text-align: center;
    line-height: 24px;
    padding-top: 10px;
}

@media (max-width: 1024px){
	.banner-text {
		left: 24%;
	}
}
@media (max-width: 767px){
	.banner-text {
		left: 1%;
		width: 98%;
		height: auto;
	}
}
@media (max-width: 414px){
	.banner {
		display: block;
		width: 100%;
		height: 420px;
		background: url(../images/bg_banner_m.jpg) no-repeat;
	}
}

/* 首頁index */
/* 獵人特色 */
.feature {
    display: block;
    width: 100%;
    background: url(../images/feature_bg.jpg);
}

.title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #82bf81;
    padding: 10px;
}

.title p {
    font-size:20px;
    color: #333333;
}

.feature-content li {
    float: left;
    width: 31.33333%;
    margin: 1%;
}

.feature-content img {
    display: block;
    margin: 0 auto 10px auto;
}

.feature-content h3 {
    text-align: center;
    color: #333333;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}

.feature-content p {
    padding: 5px;
}

@media (max-width: 768px){
	.feature-content li {
		padding: 2%;
		width: 98%;
		margin-bottom: 3%;
		transition: width .2s linear;
    }
    .feature-content p {
        padding: 0 8%;
    }
}

/* 今日主廚 */
.chief {
    width: 100%;
    background: #3d1101;
    color: white;
    padding: 0 40px;
}

@media (max-width: 1024px) {
    .chief {
        padding: 0px;
    }
}
@media (max-width:768px) {
    .chief {
        width: 100%;
        height: auto;
        text-align: center;
    }
}

.chiefimg {
    float: left;
    width: 470px;
    height: 460px;
    vertical-align:top;
    background: url(../images/main_chef.jpg) no-repeat;
	/* background-position: right; */
}

.chief-text {
    float: left;
	width: 48%;
}

.chief-text h3 {
    padding: 50px 0 20px 20px;
    font-weight: bold;
    font-size: 18px;
}

.chief-text p {
    padding-left: 20px; 
}

@media (max-width: 768px){
	.chief {
        
		background-color: #3D1101;
        padding: 0px;
	}
	.chiefimg {
		background-position: center;
        width: 100%;
        margin: 0 auto;
	}
	.chief-text{
		width: 100%;
    }
    .chief-text h3 {
        padding: 10px ;
		margin-top: 30px;
        margin-left: 5%;
        margin: 0 auto;
	}
	.chief-text p {
        padding: 20px;
        text-align: center;
	}
}

/* 找到獵人 */
.content {
    background: #fafafa;
    padding-bottom: 40px;
}

.formleft {
    float: left;
    width: 48%;
	margin-left: 2%;
}

.formright {
    width: 46%;
	float: left;
	margin-left: 2%;
	margin-right: 2%;
    color: #333333;
}

.textbox {
    width: 95%;
    font-size: 100%;
    padding: 5px 2%;
    background: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	-webkit-appearance:none
}

.textposition {
	text-align: right;
}

.button {
	margin: 0 1%;
    font-size: 14px;
    padding: 4px 20px;
    color: white;
    border: 1px solid #C8C8C8;
    background: #C8C8C8;
    text-decoration: none;
    border-radius: 2px;
}
.button:hover {
    padding: 4px 20px;
    color: white;
    border: 1px solid #9D9D9D;
    background: #9D9D9D;
    text-decoration: none;
    border-radius: 2px;
}
.submit{
    border: 1px solid #F56C23;
    background: #F56C23;
}
.submit:hover{
    border: 1px solid #C15C00;
    background: #C15C00;
}

/* 線上訂餐shop */
.shop {
    background: url(../images/login_bg.jpg) repeat;
    width: 100%;
}

.shop-aside {
	float: left;
	width: 250px;
    padding-left: 5% ;
    padding-right: 30px;
    padding-top: 30px;
}

.shop-aside h2 {
    color: #333333;
    padding: 0 9px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.shop-aside li {
    color: #333333;
    padding: 0 9px;
	line-height: 35px;
	border-bottom:1px dashed #3D1101;
	transition: all 0.3s;
}

.shop-aside li:hover {
    background: #DE6320;

}

.shop-aside a {
    display: block;
    color: #333333;
}

.shop-aside a:hover {
    color:white;
}

.shop-article {
    float: right;
    width: 770px;
    padding-right: 5%
}

.product-top {
    display: block;
	width: 98%;
	height: 35px;
	margin-left:1%;
}

.search {
    float: left;
    width: 66.66666%;
    margin-top: 30px;
}

.search-text {
    height: 25px;
    width: 400px;
	padding: 15px 10px;
	border: 3px solid #DE6320;
	background: #EFE9E7;
}

.search-btn {
    height: 35px;
	width: 35px;
	border: none;
	background: #DE6320;
	font-size: 18px;
	color: white;
	text-align: center;
}

.search-btn:hover {
    background: #8A2400;
}

.buy {
    float: right;
    margin-top: 30px;
    width: 29%;
    position: relative;
    text-align: right;
}

.buy a {
	line-height: 31px;
	font-size: 18px;
    font-weight: bold;
    color: #DE6320;
}

.buy i{
	line-height: 31px;
	font-size: 32px;
}

.buy span {
    position: absolute;
    top: -8px;
    right: -5px;
    background: #8A2400;
    color: white;
    font-size: 12px;
    text-align: center;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 50%;
}

.product {
    margin-top: 30px;
    text-align: center;
    color: #333333
}

.love {
    position: relative;
}


.love i {
    position: absolute;
    top: 6px;
    left: 12px;
    z-index: 100;
    font-size: 22px;
    color: #F56C23;
}

.mark {
    position: relative;
}

.product-list li {
    float: left;
    position: relative;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.25); 
    width: 31.33333%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 2%
}

.product h3 {
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;
}

.product p {
    font-size: 12px;
}

.product hr {
    width: 80%;
    border:0;
	background:#3D1101;
    height: 1px;
}

.product span {
    display: block;
    font-size: 26px;
    color: #3D1101;
    margin-top: 15px;
}

.product button {
    width: 90%;
    padding: 5px 10px; 
    margin: 12px;
    color: #DE6320;
    font-size: 14px;
    background: #f9f1ea;
    border: 2px solid #DE6320;
    border-radius: 3px;
}

.product button:hover {
    background: #DE6320;
    color: white;
}

.ribbon {
    position: absolute;
    top: 13px;
    right: -34px;
    width: 120px;
    font-weight: bolder;
    height: 0;
    z-index:1;
    border-bottom: 25px solid #00e6c0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    transform: rotate(45deg);
}

.ribbon span {
    color: white;
    display: block;
    font-size: 16px;
    margin: 1px 0;
    text-align: center;
    text-decoration: none;
}
.top{
    position: absolute;
    border-style: solid;
    top: -8px;
    right: 69px;
    border-width: 0 7px 7px 7px;
    border-color: transparent transparent #00856f transparent;
}
.bottom{
    border-style: solid;
    position: absolute;
    top: 68px;
    right:-8px;
    border-width: 7px 0 7px 7px;
    border-color: transparent transparent transparent #00856f;
    z-index:1;
}

.ribbon-hot {
    border-bottom: 25px solid #F40000;
}

.top-hot {
    border-color: transparent transparent #8A0000 transparent;
}

.bottom-hot {
    border-color: transparent transparent transparent #8A0000;
}


/* 會員登入login */
.login {
    width: 100%;
    height: 450px;
    background: url(../images/login_bg.jpg) repeat;
    color: #333333;
}

.login h1 {
    margin-top: 30px;
    text-align: center;
}

.login h2 {
    text-align: center;
    font-size: 22px;
    color: #333333;
    font-weight: bold;
}

.login a {
    display: block;
    font-size: 14px;
    color: #FC4A1A;
    margin-bottom: 30px;
}

.login-box {
    margin: 30px auto 0px auto;
    border-top: 3px solid #FC4A1A;
    width: 300px;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,.16)
}

.login-box p {
    text-align: center;
    font-size: 20px;
    color: #333333;
    font-weight: bold;
}

.loginform {
    padding-right: 3%;
	padding-left: 3%;
	padding-bottom: 5%;
}

.loginform span {
    display: block;
    color: #333333;
	margin-top: 5px;
	margin-bottom: 5px;
}

.loginform button {
    width: 45%;
}


/* 購物車結帳shopcart */
.shopcart {
    width: 100%;
    background: url(../images/login_bg.jpg) repeat;
    color: #333333;
    height: 500px;
}

.step {
	text-align: center;
	height: 100px;
	padding-top:30px;
	line-height: 50px;
    font-size: 14px;
    font-weight: bold;
}

.step i{
	font-size: 28px;
	vertical-align: middle;
}

.table {
	margin: 0 auto;
	width: 80%;
	background-color: rgba(255,255,255,.3);
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
}

.rwd-table {
	border-collapse: collapse;
	width: 100%;
	margin-top: -16px;

}

.rwd-table th {
	font-weight: bold;
	padding: 10px 4px;
	text-align: center;
	border-top: 3px solid #FC4A1A;
	border-bottom: 3px solid #FC4A1A;
}

.rwd-table td {
	border-bottom: 1px solid #E2E2E2;
	padding: 10px 4px;
	text-align: center;
}

.rwd-table tr:hover {
	background-color: #FEF9F7;
}

.rwd-table th{
	background-color: #F4F0EE;
}

.rwd-table td:first-child {
    text-align: left;
    padding-left: 20px;
    font-weight: bold;
}

.rwd-table td:nth-child(2) {
	text-align: center;
    font-weight: bold;
}

.rwd-table td:nth-child(3) {
    font-weight: bold;
}

.rwd-table td:nth-child(4) {
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
}

.rwd-table td:last-child{
	font-size: 20px;
}

.shopcart .rwd-table .t1 {
	width: 45%;
}

.shopcart .rwd-table .t2 {
	width: 15%;
}

.shopcart .rwd-table .t3 {
	width: 15%;
}

.shopcart .rwd-table .t4 {
	width: 10%;
}

.shopcart .rwd-table .t5 {
	width: 10%;
}

.total {
	width: 100%;
	float: left;
}

.tabset {
	float: right;
	margin: 10px;
}

.tabset span{
	font-weight: bold;
}

.tabset tr{
	display: block;
	padding:5px;
}

.tabset td:last-child{
	text-align:right;
	width: 100px;
	font-weight: bold;
}

.tabset tr:last-child{
	border-top: 3px solid #FC4A1A;
}

.tabset input{
	width: 100px;
	background-color: #F4F0EE;
	border: 0;
	border-bottom: 1px solid #FC4A1A;
	outline: none;
	font-weight: bold;
	font-size: 18px;
	color: #3D1101;
	text-align: right;
}


/* 頁尾 */
.footer {
    background: #EFE9E7;
    padding: 20px;
    width: 100%;
}

.footer h2 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
}

.about {
    float: left;
    color: #333333;
    width: 31.33333%;
    padding: 1%;
}

.connection {
    float: left;
    color: #333333;
    width: 31.33333%;
    padding: 1%;
}

.link {
	float: right;
	padding: 1%;
    width: 31.33333%;
    text-align: right;
}

.link img{
    margin: 2px;
}

@media (max-width: 768px){
	.footer .col-md4{
		margin-top: 20px;
	}
}